<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact CarelyTeam</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 70%;
  padding: 1rem;
  border: 1px solid #2eaaaa;
  border-radius: 2px;
}

.title {
  font-size: 1.2rem;
  text-align: center;
}

* {
  line-height: 25px;
}

.button {
  text-align: center;
  width: 20%;
  background-color: #383838;
  font-weight: bold;
  padding: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  justify-content: center;
  border-radius: 2px;
}
    </style>
  </head>

  <body>
    <div class="container">
      <span class="title">{{firstname}} {{lastname}}</span>
      <p>Votre compte a bien été créé sur Pikto</p>
      {{#if isOrganization}}
        <p>Vous avez accès à deux comptes distincts :</p>
        <ul>
          <li>
            Un pour vous en tant qu'administrateur :
            <ul>
              <li>
                Nom d'utilisateur:
                {{name}}-admin.
              </li>
              <li>
                Mot de passe : celui que vous avez choisi à votre inscription.
              </li>
            </ul>
          </li>
          <li>
            Un pour votre équipe :
            <ul>
              <li>
                Nom d'utilisateur:
                {{name}}-team.
              </li>
              <li>
                Mot de passe : celui que vous déterminerez dans la section
                modification de profil.
              </li>
            </ul>
          </li>
        </ul>
      {{else}}
        <p>Vous pourrez vous connecter grâce aux identifiants suivants :</p>
        <ul>
          <li>
            Nom d'utilisateur :
            {{name}}
          </li>
          <li>
            Mot de passe : celui que vous avez choisi
          </li>
        </ul>
      {{/if}}
      <a
        class="button"
        href="https://pikto.fr?login=true"
        type="button"
      >Pour vous connecter</a>
    </div>
  </body>
</html>